

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: aquamarine;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#checkout {
    text-align: right;
}

#checkOutButton{
    margin-bottom: 20px;
}

